:host {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}

.mat-icon {
  font-size: 1rem;
  color: red;
  width: auto;
  height: auto;
}

.choice-container {
  display: flex;
  justify-content: center;
}

.opponent-container {
  width: 50%;

  &:only-child {
    width: 100%;

    .mat-icon {
      font-size: 1.5rem;
    }
  }
}
