<ng-container *ngIf="opponents">
  <div>Opponents:</div>
  <div *ngFor="let player of opponents">
    <player [player]="player"></player>
    <div class="choice-container">
      <mat-icon fontSet="fontawesome" fontIcon="fa-hand-rock-o" *ngIf="player.choices && player.choices[0] === choiceEnum.Rock"></mat-icon>
      <mat-icon fontSet="fontawesome" fontIcon="fa-hand-paper-o" *ngIf="player.choices && player.choices[0] === choiceEnum.Paper"></mat-icon>
      <mat-icon fontSet="fontawesome" fontIcon="fa-hand-scissors-o" *ngIf="player.choices && player.choices[0] === choiceEnum.Scissors"></mat-icon>
    </div>
  </div>
</ng-container>
