@keyframes move-right {
  to {
    transform: translateX(64%) translateY(90%);
  }
}

@keyframes move-left {
  to {
    transform: translateX(-64%) translateY(90%);
  }
}

@keyframes move-down {
  to {
    transform: translateY(90%);
  }
}

:host {
  .mat-icon {
    font-size: 1.5rem;
  }

  width: 35%;

  &:nth-child(even) .avatar-container.moreThanOneOpponent.lastOneActive {
    animation: move-left 1s forwards;
  }

  &:nth-child(odd) .avatar-container.moreThanOneOpponent.lastOneActive {
    animation: move-right 1s forwards;
  }
}

.avatar-container.lastOneActive {
  // todo: Extract this as global variable
  animation: move-down 1s forwards;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  padding: 0.5rem
}

.svg {
  width: 100%;
}

.observer:not(.lastOneActive) svg {
  opacity: 40%;
}
