<copy-link></copy-link>

<div *ngIf="firebasePlayer$ | async as firebasePlayer" class="top-spacer">
  <player [player]="firebasePlayer"></player>
</div>
<choice></choice>

<div class="top-spacer">
  <opponents [hasCurrentPlayerChosen]="(firebasePlayer$ | async)?.choice !== undefined"></opponents>
</div>

<spinner [loadingStatus]="loadingStatus">
  <div class="top-spacer room-button-container">
    <button mat-raised-button (click)="leaveRoom()">Leave the room</button>
    <button mat-raised-button color="accent" (click)="startOver()">Restart the Game</button>
  </div>
</spinner>

