<div class="text-container" *ngIf="room$ | async as room">
  <p *ngIf="room.typeOfGame === gameType.Winner">The last one will be the glorious winner 😀!</p>
  <p *ngIf="room.typeOfGame === gameType.Loser">The last one will be the loser and never live out their shame 😀!</p>
</div>

<div class="top-spacer">
  <opponents [hasCurrentPlayerChosen]="!!(firebasePlayer$ | async)?.choice"></opponents>
</div>

<div *ngIf="firebasePlayer$ | async as firebasePlayer" class="player-container">
  <player [player]="firebasePlayer"></player>
</div>

<spinner [loadingStatus]="loadingStatus">
  <choice></choice>
  <div class="top-spacer room-button-container">
    <copy-link></copy-link>
    <button mat-raised-button color="accent" (click)="leaveRoom()">Leave the room</button>
    <button [class.invisible]="!(room$ | async)?.lastOneActive" mat-raised-button color="accent" (click)="startOver()">Another Game</button>
  </div>
</spinner>

