<div class="text-container" *ngIf="room$ | async as room">
  <p *ngIf="room.typeOfGame === gameType.Winner">The last one will be the glorious winner 😀!</p>
  <p *ngIf="room.typeOfGame === gameType.Loser">The last one will be the loser and never live out their shame 😀!</p>
</div>

<div class="top-spacer">
  <opponents [hasCurrentPlayerChosen]="!!(firebasePlayer$ | async)?.choice"></opponents>
</div>

<div *ngIf="firebasePlayer$ | async as firebasePlayer" class="player-container">
  <player [player]="firebasePlayer"></player>
</div>

<spinner [loadingStatus]="loadingStatus">
  <choice></choice>
  <div class="top-spacer room-button-container">
    <copy-link></copy-link>
    <button mat-raised-button (click)="leaveRoom()">
      <mat-icon fontSet="fontawesome" fontIcon="fa-sign-out"></mat-icon>
    </button>
    <button mat-raised-button (click)="startOver()" [disabled]="!(room$ | async)?.lastOneActive">
      <mat-icon fontSet="fontawesome" fontIcon="fa-repeat"></mat-icon>
    </button>
  </div>
</spinner>

