button {
  width: 50%;
  margin: 0.2rem;
}

.top-spacer {
  margin-top: 5rem;
}

.room-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

button {
  margin: 0.2rem;
}

.text-container {
  display: flex;
  justify-content: center;
  font-family: emoji;
  font-size: medium;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}
