<copy-link></copy-link>

<ng-container *ngIf="currentPlayer$ | async as storePlayer">
  <div>Store Player information:</div>
  <div *ngIf="storePlayer">
    <div>Id: {{storePlayer.id}}</div>
  </div>
</ng-container>

<ng-container *ngIf="firebasePlayer$ | async as firebasePlayer">
  <player [player]="firebasePlayer"></player>
</ng-container>
<choice></choice>
ˀ
<div class="top-spacer">
  <opponents></opponents>
</div>

<spinner [loadingStatus]="loadingStatus">
  <button mat-raised-button (click)="leaveRoom()" class="top-spacer">Leave the room</button>
</spinner>
