<ng-container *ngIf="currentPlayer$ | async as storePlayer">
  <div>Store Player information:</div>
  <div *ngIf="storePlayer">
    <div>Id: {{storePlayer.id}}</div>
  </div>
</ng-container>

<ng-container *ngIf="firebasePlayer$ | async as firebasePlayer">
  <div>Firebase Player information:</div>
  <div>
    <div>Name: {{firebasePlayer.name}}</div>
    <span>Choices: </span>
    <span *ngFor="let choice of firebasePlayer.choices"> {{choice}}</span>
  </div>
</ng-container>

<choice></choice>
<opponents-component></opponents-component>


<button (click)="leaveRoom()">Leave room</button>
