.form-container .mat-form-field {
  width: 100%;
}

.form-container form {
  margin-bottom: 2rem;

  > * {
    margin: .5rem 0;
  }
}

.form-container .mat-radio-button {
  margin: 0 1.2rem;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
  margin: -.2rem;
}
