:host {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

@keyframes beat {
  from {
    transform: scale(100%);
  }

  to {
    transform: scale(200%);
  }
}

.check {
  font-size: 50px;
  width: 50px;
  height: auto;
  color: lawngreen;
  animation: beat 1s linear 0s infinite alternate-reverse;
}
