:host {
  text-align: center;
  padding: 0.2rem;
  height: 100%;
}

.top-spacer {
  margin-top: 3rem;
}

.logo {
  width: 60%;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.start-button-container {
  margin-top: auto;
  margin-bottom: 3rem;
}

.start-button {
  width: 60%;
  height: 3rem
}
