<h1 mat-dialog-title>Create Room</h1>
<div mat-dialog-content class="form-container">
  <ng-container *ngIf="!isLoading; else spinner">
    <form [formGroup]="formGroup">
      <mat-form-field appearance="legacy">
        <mat-label>Give your room a cool name (or take this random one)</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>People in conflicts</mat-label>
        <input matInput required type="number" min="1" formControlName="numberOfPlayers">
        <mat-hint>Don't count yourself</mat-hint>
      </mat-form-field>

      <mat-form-field *ngIf="formGroup.controls.numberOfPlayers.value === 1" appearance="legacy">
        <mat-label>Score</mat-label>
        <input matInput type="number" min="1" formControlName="score">
      </mat-form-field>

      <div *ngIf="formGroup.controls.numberOfPlayers.value > 1">
        <label>You want: </label>
        <mat-radio-group formControlName="typeOfGame">
          <mat-radio-button [value]="gameType.Winner">Winner</mat-radio-button>
          <mat-radio-button [value]="gameType.Loser">Loser</mat-radio-button>
        </mat-radio-group>
      </div>
    </form>
  </ng-container>
  <ng-template #spinner>
    <div class="spinner-container">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
  </ng-template>
</div>

<div mat-dialog-actions class="full-width">
  <button mat-raised-button class="half-width" color="accent" (click)="cancel()">Cancel</button>
  <button mat-raised-button class="half-width" color="primary" [disabled]="!formGroup.valid" (click)="create()">Create</button>
</div>
