:host {
  font-family: emoji;
  font-size: medium;
  margin-bottom: 10px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1 {
  font-family: emoji;
  margin: 1rem;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

a {
  font-family: emoji;
  color: bisque !important;
}

footer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  line-height: 2rem;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  z-index: -10;
  width: 100%;
}
