.choice-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

button {
  width: 10rem;
}

.mat-icon {
  font-size: 1.5rem;
}

.highlight-icon {
  color: red;
}
