/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
}

@import '~font-awesome/scss/font-awesome.scss';
$fa-font-path: '../node_modules/font-awesome/fonts';
